[submodule "YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe

[submodule "Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VUndleVim/Vundle.vim

[submodule "config/awesome-dot-conf"]
	path = config/awesome-dot-conf
	url = https://github.com/FlashDaggerX/awesome-dot-conf.git
