[submodule ".config/awesome-dot-conf"]
	path = .config/awesome-dot-conf
	url = https://github.com/FlashDaggerX/awesome-dot-conf.git
[submodule ".vim/plugged/julia-vim"]
	path = .vim/plugged/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim
[submodule ".vim/plugclone/vim-plug"]
	path = .vim/plugclone/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule ".vim/plugged/YouCompleteMe"]
	path = .vim/plugged/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
