! Main XRDB Resources file

#include ".Xresources.pywal"

! URxvt settings
!URxvt.font: xft:Fira Code:style=Bold:size=12
URxvt.font: xft:Fira Code:size=13, xft:Inconsolata for Powerline
URxvt.scrollBar: False
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1

